# macOS files
.DS_Store

node_modules
package-lock.json

le
reference

data/openai.key

# in case a student adds an ssh key to the repo
*.pem

store
log.txt
embeddings.json
embeddings.jsonl
.env
submission.zip

dist
stencil
.npm-cache
